html,
body {
    margin: 0;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 42px;
    margin-bottom: 55px;
}

span {
    font-size: 20px;
}